/********************/
/* COLORS */
/********************/
/* Red - #eb4d4d */

/********************/
/* BODY */
/********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
}

html {
	background-color: #e5e5e5;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	/* The text-rendering property provides information to the rendering engine about what to optimize for when rendering text; optimizeLegibility emphasizes legibility over rendering speed */
}

/********************/
/* HEADINGS CSS */
/********************/

/*
h1 {
	font-weight: 300;
	font-size: 240%;
	word-spacing: 3px;
	letter-spacing: 1px;
	color: #fff;
}
*/

/********************/
/* MAIN CSS */
/********************/

.new-game, .player-0-panel, .game-functions, .player-1-panel {
	text-align: center;
}

.player-0-panel, .player-1-panel {
	height: 600px;
	padding: 100px;
}

.player-name {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.player-score {
	font-size: 80px;
	font-weight: 100;
	color: #eb4d4d;
	margin-bottom: 130px;
}

.player-current-box {
	background-color: #eb4d4d;
	color: #fff;
	padding: 12px;
	width: 50%;
	margin: 0 auto;
}

.player-current-label {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 12px;
	color: #000;
}

/********************/
/* BUTTONS CSS */
/********************/

button {
	width: 300px;
	color: #555;
	background: none;
	border: none;
	font-weight: 300;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover i {
	margin-right: 30px;
}

i {
	color: #eb4d4d;
	margin-right: 15px;
	font-size: 32px;
	transition: margin 0.3s;
}

.dice-container {
	padding: 125px;
}

.btn-container {
	padding: 20px;
}

/********************/
/* DICE CSS */
/********************/

img { 
	height: 100px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
	margin: 0 auto;
}
